.main {
	max-width: 1200px;
	margin: auto;
	padding: 0 0 125px;
	font-family: Roboto, sans-serif;
	.blockCounter {
		display: flex;
		width: 1176px;
		height: 192px;
		.counterItem {
            position: relative;
			display: flex;
			background-color: #f5f6f8;
			padding: 45px 30px 45px 45px;

            &::after {
                position: absolute;
                content: "";
                right: 12px;
                top: 0;
                width: 1px;
                height: 100%;
                background: linear-gradient(
                    180deg,
                    rgba(61, 108, 231, 0),
                    #3d6ce7 51.56%,
                    rgba(61, 108, 231, 0)
                );
                opacity: 0.3;
            }
            &:last-child::after {
                content: none;
            }
			img {
				width: 40px;
				height: 40px;
				transform: translateY(9px);
			}
			.counterText {
				.count {
					font-size: 44px;
					font-weight: 600;
					margin-left: 15px;
					color: #3d6ce7;
				}
				.plus {
					font-size: 36px;
					color: #3d6ce7;
					font-weight: 400;
					margin-bottom: 5px;
					margin-left: 10px;
				}
				p {
					font-size: 14px;
					line-height: 22px;
					color: #4b535a;
					width: 90%;
					margin-left: 15px;
					margin-top: 10px;
				}
			}
		}
	}
}
